<%= form_with model: @MealAttendance do |form| %>
  <% if @MealAttendance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@MealAttendance.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @MealAttendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= form.label :meal_date %><br>
    <%= form.date_field :meal_date %>
  </p>
  <p>
    <%= form.select :meal_type, options_for_select(['lunch', 'snack'], @MealAttendance.meal_type)%>
  </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>