<h1>MEAL ATTENDANCE PAGE</h1>

<p>
  <%= link_to 'give food attendance', new_meal_attendance_path %>
</p>
<% if current_user.admin? or current_user.sup_admin?%>
<h1>Today's Lunch </h1>
<h2><%=@today_lunch_count %></h2>

<h1>Today's Snack </h1>
<h2><%=@today_snack_count %></h2>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Meal Type</th>

  </tr>
  <% @MealAttendances.each do |meal| %>
    <tr>
      <td><%= meal.meal_date %></td>
      <td><%= meal.user.first_name %></td>
      <td><%= meal.meal_type %></td>



      <td> <%= link_to "delete", meal_attendance_path(meal), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </td>
    </tr>
<%end %>

  <% end %>
</table>