<%= form_with model: @menu do |form| %>
  <% if @menu.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% @menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= form.label :meal_date %><br>
    <%= form.date_field :meal_date %>
  </p>

  <div>
    <%= form.label :dishes %>
    <%= form.collection_check_boxes :dish_ids, @dishes, :id, :name %>
  </div>
  <p>
    <%= form.select :meal_type, options_for_select(['lunch', 'snack'], @menu.meal_type) %>
  </p>




  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>
<%= link_to "menu index", menus_path %>