<div style="margin: 20px; text-align: center">
<h1 class="btn btn-primary btn-lg">Menu</h1>

<%if can? :create, Menu %>
  <%= link_to 'create new menu', new_menu_path, class: "btn btn-success btn-lg" %>

<%end %>
<h1>Today's Lunch </h1>
<% @today_lunch_menu.each do |menu| %>

  <ul>
    <% menu.dish.each do |d| %>
      <li><%= d.name %></li>
    <% end %>
  </ul>

<% end %>

<h1>Today's Snack </h1>
<% @today_snack_menu.each do |menu| %>

  <ul>
    <% menu.dish.each do |d| %>
      <li><%= d.name %></li>
    <% end %>
  </ul>

<% end %>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Meal Type</th>
    <th>Item Name</th>
    <th>Added By</th>
  </tr>
  <% @menus.each do |menu| %>
    <tr>
      <td><%= menu.meal_date %></td>
      <td><%= menu.meal_type %></td>

      <td>
        <ul>
          <% menu.dish.each do |d| %>
            <li><%= d.name %></li>
          <% end %>
        </ul>
      </td>
      <td><%= menu.user.first_name %></td>
      <td><%=link_to'show', menu_path(menu),class: "btn btn-success" %></td>
      <%if can? :update, Menu %>
      <td><%=link_to'edit', edit_menu_path(menu),class: "btn btn-warning"%></td>
        <%end %>
      <%if can? :destroy, Menu %>
      <td> <%= link_to "delete", menu_path(menu),class: "btn btn-danger", data: { method: :delete, confirm: "Are you sure?"} %> </td>
    <%end %>
        </tr>


  <% end %>
</table>
</div>