<h1> <%= @menu.meal_date %></h1>
<p><b> Meal Type: </b> <%=@menu.meal_type %></p>
<ul>
  <% @menu.dish.each do |d| %>
    <li><%= d.name %></li>
  <% end %>
</ul>

<h3>Reviews</h3>
<hr>
<% @reviews.each do |review| %>
  <p> <%=review.user.first_name %> saying</p>
  <p> <%=review.review_body %> </p>
  <p>Rating: <%=  review.rating %> </p>
  <%= link_to "delete", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <hr>

<% end %>


<%= link_to "Menu index", menus_path %>
<%= link_to "Write a Review", new_review_path(@menu.id) %>
