<div style="margin: 60px; text-align: center">
<h1> <%= @menu.meal_date %> Menu</h1>
<p><b> Meal Type: </b> <%=@menu.meal_type %></p>
<ul>
  <% @menu.dish.each do |d| %>


    <div><img src="<%= url_for(d.image) %>" width="600" height="400" display="flex">
      <li><%= d.name %></li>
    </div>

  <% end %>
</ul>




<h3>Reviews</h3>
</div>

<% @reviews.each do |review| %>
  <div class="col-md-8">
    <p> <b><%=review.user.first_name %></b> saying</p>
  <p> <%=review.review_body %> </p>
  <p>Rating: <%=  review.rating %> </p>
  <% if can? :destroy, review%>
  <%= link_to "delete", review_path(review), data: { method: :delete, confirm: "Are you sure?"}, class:"btn btn-danger" %>
  <%end %>
  </div>
<% end %>
<%= render partial: 'reviews/form'%>
