<%= form_with model: @notice do |form| %>
  <% if @notice.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% @notice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= form.label :notice_title %><br>
    <%= form.text_field :notice_title %>
  </p>

  <div>
    <%= form.label :notice_body %>
    <%= form.text_field :notice_body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>
