<div style="margin: 50px;">


<h1>Notices</h1>

<%if can? :manage, @notices%>
  <%= link_to 'new notice', new_notice_path, class:"btn btn-success"  %>
  <%end %>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Notice Title</th>
    <th>Notice Body</th>
  </tr>
  <% @notices.each do |notice| %>
    <tr>
      <td><%= notice.created_at %></td>
      <td><%= notice.notice_title %></td>
      <td><%= notice.notice_body %></td>
      <td><%=link_to'show', notice_path(notice), class:"btn btn-warning" %></td>
      <%if can? :manage, notice%>

        <td><%=link_to'edit', edit_notice_path(notice),class:"btn btn-primary"  %></td>
      <td> <%= link_to "delete", notice_path(notice),class:"btn btn-danger" ,  data: { method: :delete, confirm: "Are you sure?"} %> </td>
  <%end %>
    </tr>


  <% end %>
</table>
</div>