<h1>This is the NOTICE index page</h1>

<%if can? :manage, @notices%>
  <%= link_to 'new notice', new_notice_path %>
  <%end %>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Notice Title</th>
    <th>Notice Body</th>
  </tr>
  <% @notices.each do |notice| %>
    <tr>
      <td><%= notice.created_at %></td>
      <td><%= notice.notice_title %></td>
      <td><%= notice.notice_body %></td>
      <td><%=link_to'show', notice_path(notice) %></td>
      <%if can? :manage, notice%>

        <td><%=link_to'edit', edit_notice_path(notice) %></td>
      <td> <%= link_to "delete", notice_path(notice), data: { method: :delete, confirm: "Are you sure?"} %> </td>
  <%end %>
    </tr>


  <% end %>
</table>