<h1>This is the Preference index page</h1>

<p>
  <%= link_to 'new preference', new_preference_path %>
</p>

<table>
  <tr>
    <th>User ID</th>
    <th>Restricted Food</th>

  </tr>
  <% @preferences.each do |prefer| %>
    <tr>
      <td><%= prefer.user_id %></td>
      <td><%= prefer.restricted_food %></td>


      <td><%=link_to'edit', edit_preference_path(prefer) %></td>
      <td><%=link_to'show', preference_path(prefer) %></td>
      <td> <%= link_to "delete", preference_path(prefer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </td>
    </tr>


  <% end %>
</table>