<%= form_with model: @dish do |form| %>
  <% if @dish.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
        <% @dish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :ingredients %><br>
    <%= form.text_field :ingredients %>
  </p>

  <div>
    <%=form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>
<%= link_to "user index", users_path %>